In [48]:
import pandas as pd
import numpy as np
import random
import math

In [49]:
data=pd.read_csv("clean2.data")
data.head()

,MUSK-211,211_1+1,46,-108,-60,-69,-117,49,38,-161,...,-308.1,52,-7,39,126,156,-50.1,-112,96,1.
0,MUSK-211,211_1+10,41,-188,-145,22,-117,-6,57,-171,...,-59,-2,52,103,136,169,-61,-136,79,1.0
1,MUSK-211,211_1+11,46,-194,-145,28,-117,73,57,-168,...,-134,-154,57,143,142,165,-67,-145,39,1.0
2,MUSK-211,211_1+12,41,-188,-145,22,-117,-7,57,-170,...,-60,-4,52,104,136,168,-60,-135,80,1.0
3,MUSK-211,211_1+13,41,-188,-145,22,-117,-7,57,-170,...,-60,-4,52,104,137,168,-60,-135,80,1.0
4,MUSK-211,211_1+14,46,-194,-145,28,-117,72,57,-168,...,-138,-156,56,143,142,164,-67,-145,40,1.0

In [50]:
data.tail()

,MUSK-211,211_1+1,46,-108,-60,-69,-117,49,38,-161,...,-308.1,52,-7,39,126,156,-50.1,-112,96,1.
6592,NON-MUSK-jp13,jp13_2+5,51,-123,-23,-108,-117,134,-160,82,...,-66,164,-14,-29,107,171,-44,-115,118,0.0
6593,NON-MUSK-jp13,jp13_2+6,44,-104,-19,-105,-117,142,-165,68,...,-51,166,-9,150,129,158,-66,-144,-5,0.0
6594,NON-MUSK-jp13,jp13_2+7,44,-102,-19,-104,-117,72,-165,65,...,90,117,-8,150,130,159,-66,-144,-6,0.0
6595,NON-MUSK-jp13,jp13_2+8,51,-121,-23,-106,-117,63,-161,79,...,86,99,-14,-31,106,171,-44,-116,117,0.0
6596,NON-MUSK-jp13,jp13_2+9,51,-122,-23,-106,-117,190,-161,80,...,40,124,-14,-30,107,171,-44,-115,118,0.0

In [51]:
data.shape

(6597, 169)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6597 entries, 0 to 6596
Columns: 169 entries, MUSK-211 to 1.
dtypes: float64(1), int64(166), object(2)
memory usage: 8.5+ MB

## data cleansing

In [53]:
data.drop(columns = data.columns[0:2],inplace=True)

data

,46,-108,-60,-69,-117,49,38,-161,-8,5,...,-308.1,52,-7,39,126,156,-50.1,-112,96,1.
0,41,-188,-145,22,-117,-6,57,-171,-39,-100,...,-59,-2,52,103,136,169,-61,-136,79,1.0
1,46,-194,-145,28,-117,73,57,-168,-39,-22,...,-134,-154,57,143,142,165,-67,-145,39,1.0
2,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-60,-4,52,104,136,168,-60,-135,80,1.0
3,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-60,-4,52,104,137,168,-60,-135,80,1.0
4,46,-194,-145,28,-117,72,57,-168,-39,-22,...,-138,-156,56,143,142,164,-67,-145,40,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6592,51,-123,-23,-108,-117,134,-160,82,-230,-28,...,-66,164,-14,-29,107,171,-44,-115,118,0.0
6593,44,-104,-19,-105,-117,142,-165,68,-225,-32,...,-51,166,-9,150,129,158,-66,-144,-5,0.0
6594,44,-102,-19,-104,-117,72,-165,65,-219,-12,...,90,117,-8,150,130,159,-66,-144,-6,0.0
6595,51,-121,-23,-106,-117,63,-161,79,-224,-30,...,86,99,-14,-31,106,171,-44,-116,117,0.0
6596,51,-122,-23,-106,-117,190,-161,80,-227,-52,...,40,124,-14,-30,107,171,-44,-115,118,0.0

In [54]:
data.shape

(6597, 167)

## dividing the dataset to x and y

In [55]:
x = np.array(data.drop(columns = '1.'))
x.shape

(6597, 166)

In [56]:
y=np.array(data['1.'])
y=y.reshape(len(y),1)
y.shape

(6597, 1)

## functions

In [57]:
def logistic_function(t):
    t=np.float128(t)
    return 1.0 / (1 + np.exp(-t))

In [58]:
def cost_function(theta,x,y,intercept):
    nan = 0 * float("-inf")
    n = len(y)
    y_pred = logistic_function(np.dot(x , theta)+intercept).reshape(n,1)
    error_first_param = y * np.log(y_pred)
    error_second_param = (1 - y) * np.log(1 - y_pred)
    
    # python treats "0 * inf" as "nan", even if the zero is absolute, so we
    # have to manually set all of "0 * inf"s to 0.
    for i in range(len(error_first_param)):

        if math.isnan(error_first_param[i][0]):
            error_first_param[i] = [0]

        if math.isnan(error_second_param[i][0]):
            error_second_param[i] = [0]

    error = error_first_param + error_second_param
    cost = -1 / n * sum(error)
    return cost

In [59]:
def calc_derative_theta(x,y,theta,intercept):
    temp_list=[]
    n_samples,n_features=x.shape
    for j in range(n_features): 
        sum=0
        for i in range(n_samples):
            sum+=(logistic_function(x[i].dot(theta)+intercept[i]) - y[i])*x[i][j]
        sum/=n_samples
        temp_list.append(np.array(sum))
    return np.array(temp_list)

In [60]:
def calc_derative_intercept(x,y,theta,intercept): 
    temp_list=[]
    n_samples,n_features=x.shape
    sum=0
    for i in range(n_samples): 
         sum+=(logistic_function(x[i].dot(theta)+intercept[i]) - y[i])
    sum/=n_samples
    temp_list.append(np.array(sum))
    return np.array(temp_list)

In [61]:
def gradient_descent(alpha,theta,dtheta,intercept,dintercept):
    theta-=alpha*dtheta
    intercept-=alpha*dintercept
    return intercept,theta

In [62]:
def random_init(m):
    temp_list=[]
    for i in range(m):
        temp_list.append([random.uniform(-0.03,0.02)])
    return np.array(temp_list)


#for test
my_array=random_init(5)
my_array

array([[ 0.01291318],
       [-0.01404248],
       [ 0.00391782],
       [-0.01024639],
       [-0.0149496 ]])

In [ ]:
def logistic_regression(x,y,alpha,num_iterations,add_intercept):
    n_samples,n_features=x.shape
    if(add_intercept):
        intercept=random_init(n_samples)
    else:
        intercept=np.zeros(n_samples).reshape(n_samples,1)
        dintercept=np.zeros(n_samples).reshape(n_samples,1)
        
    print(f'n={n_samples},m={n_features}')
    theta=random_init(n_features)
    
    #start iteration
    for i in range(num_iterations):
        print(f'iteration: {i+1}')
        
        #we need to implement a dynamic alpha(learning) in order to avoid
        #oscillation so we multiply it by 0.9 in each iteration
        alpha*=0.9
        
        x_theta=np.dot(x,theta)
        y_hat=x_theta+intercept
        sigmoid_y_hat=logistic_function(y_hat).reshape(n_samples,1)
        dtheta=calc_derative_theta(x,y,theta,intercept)
        if(add_intercept):
            dintercept=calc_derative_intercept(x,y,theta,intercept)
            
        print(f'cost={cost_function(theta,x,y,intercept)}')
        intercept,theta=gradient_descent(alpha,theta,dtheta,intercept,dintercept)
    
    #end iteration
    print(f'final cost={cost_function(theta,x,y,intercept)}')
    return intercept,theta

In [70]:
final_intercept,final_theta=logistic_regression(x,y,0.0001,10,False)

n=6597,m=166
iteration: 1

/tmp/ipykernel_9786/3391743890.py:6: RuntimeWarning: divide by zero encountered in log
  error_second_param = (1 - y) * np.log(1 - y_pred)
/tmp/ipykernel_9786/3391743890.py:6: RuntimeWarning: invalid value encountered in multiply
  error_second_param = (1 - y) * np.log(1 - y_pred)

cost=[inf]
iteration: 2
cost=[6.22923719]
iteration: 3
cost=[4.20644316]
iteration: 4
cost=[2.85866263]
iteration: 5
cost=[2.26523918]
iteration: 6
cost=[2.0953729]
iteration: 7
cost=[2.0068331]
iteration: 8
cost=[1.94599711]
iteration: 9
cost=[1.90218933]
iteration: 10
cost=[1.86977161]
final cost=[1.84531818]

In [73]:
final_intercept,final_theta=logistic_regression(x,y,0.0001,10,True)

n=6597,m=166
iteration: 1

/tmp/ipykernel_9786/3391743890.py:6: RuntimeWarning: divide by zero encountered in log
  error_second_param = (1 - y) * np.log(1 - y_pred)
/tmp/ipykernel_9786/3391743890.py:6: RuntimeWarning: invalid value encountered in multiply
  error_second_param = (1 - y) * np.log(1 - y_pred)

cost=[inf]
iteration: 2
cost=[6.18289154]
iteration: 3
cost=[4.16569183]
iteration: 4
cost=[2.97168229]
iteration: 5
cost=[2.53653863]
iteration: 6
cost=[2.39720527]
iteration: 7
cost=[2.32297871]
iteration: 8
cost=[2.27003554]
iteration: 9
cost=[2.22982774]
iteration: 10
cost=[2.19872665]
final cost=[2.17445158]

## result

### in any case, with or without biases, the model gradually decreases its cost and gets close to its local optimum as much as it can, so the model works correctly.